{% rendercontent "bulmatown/navbar", class: "is-dark" %}
  {% with logo %}
    <a class="navbar-item" href="/">
      {{ metadata.title }}
    </a>
  {% endwith %}
  {% with items_start %}
    <a class="navbar-item" href="/">Home</a>
    <a class="navbar-item" href="/posts">Articles</a>
    <a class="navbar-item" href="/about">About</a>
    <div class="navbar-item has-dropdown is-hoverable">
      <a class="navbar-link" href="/topics">
        Topics
      </a>
      <div class="navbar-dropdown is-boxed">
        <a class="navbar-item" href="https://bulma.io/documentation/overview/start/">
          Overview
        </a>
        <a class="navbar-item" href="https://bulma.io/documentation/overview/modifiers/">
          Modifiers
        </a>
        <a class="navbar-item" href="https://bulma.io/documentation/columns/basics/">
          Columns
        </a>
        <a class="navbar-item" href="https://bulma.io/documentation/layout/container/">
          Layout
        </a>
        <a class="navbar-item" href="https://bulma.io/documentation/form/general/">
          Form
        </a>
        <hr class="navbar-divider">
        <a class="navbar-item" href="https://bulma.io/documentation/elements/box/">
          Elements
        </a>
        <a class="navbar-item" href="https://bulma.io/documentation/components/breadcrumb/">
          Components
        </a>
      </div>
    </div>
  {% endwith %}

  {% with items_end %}
    <div class="navbar-item search-item">
      {% render "bridgetown_quick_search/search", placeholder: "Search", input_class: "input" %}
    </div>
    <a class="navbar-item is-hidden-desktop-only" href="https://twitter.com/{{ metadata.twitter }}" target="_blank">
      <span class="icon"><i class="fa fa-twitter is-size-6"></i></span>
      <span class="is-hidden-tablet">Twitter</span>
    </a>
  {% endwith %}
{% endrendercontent %}
